// 字体定义
// --------------------------------------------------
$font-family-default: "Helvetica Neue", Helvetica, sans-serif !default;
$font-size-default: 17px !default;
$font-weight: 500 !default;
$font-weight-light: 400 !default;
$line-height-default: 21px !default;

// Colors
// --------------------------------------------------
$primary-color: #428bca !default;
$chrome-color: #fff !default;

// Action colors
$default-color: #fff !default;
$positive-color: #5cb85c !default;
$negative-color: #d9534f !default;

// Bars
// --------------------------------------------------
$bar-base-height: 0.88rem !default;
$bar-tab-height: 1rem !default;
$bar-side-spacing: 10px !default;

// Cards
// --------------------------------------------------
$card-bg: #fff !default;

// Buttons
// --------------------------------------------------
$button-font-size: 12px !default;

// 过度动画
// --------------------------------------------------
$timing-fuction: cubic-bezier(.1,.5,.1,1) !default; // Inspired by @c2prods

// Borders
// --------------------------------------------------
$border-default-width: 1px;
$border-default: $border-default-width solid #ddd;
$border-radius: 6px !default;
