/*可用属性*/
/**flex 父元素定义 **/
.flex-vertical-center {
  display: -webkit-flex;
  display: flex;
  /*子元素沿主轴对齐方式居中*/
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /*子元素沿侧轴对齐方式垂直居中*/
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/**flex 子元素定义 **/
.pz-bar {
  width: 100%;
  height: 1.17333333rem;
  background-color: #0e90d2;
  color: #fff;
  display: -webkit-flex;
  display: flex;
  /*子元素沿主轴对齐方式居中*/
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /*子元素沿侧轴对齐方式垂直居中*/
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.pz-bar h2.title {
  text-align: center;
  font-weight: 700;
}
.pz-main {
  height: auto;
  width: 100%;
}
