<!DOCTYPE html>
<html>

<head>
    <title>Pizza mobile</title>
    <link rel="import" href="/widget/touch-meta/meta.html?__inline">
    <link rel="stylesheet" href="/site/index/index.less">
</head>

<body>
    <link rel="import" href="/widget/touch-header/header.html?__inline">
    <div class="pz-main">
        <h2 class="h2">测试列表</h2>
        <div class="bgc">
            
        </div>
    <link rel="import" href="/widget/touch-backtop/backtop.html?__inline">
    </div>
    <link rel="import" href="/widget/touch-footer/footer.html?__inline">
    <script type="text/javascript">

    </script>
</body>

</html>
