<!DOCTYPE html>
<link rel="import" href="/widget/meta/html.html?__inline">

<head>
    <title>Pizza mobile</title>
    <link rel="import" href="/widget/meta/meta.html?__inline">
    <link rel="stylesheet" href="/site/index/index.less">
</head>

<body>
    <div class="body">
        <header class="pz-bar">
            <h2 class="title">Pizza UI Touch</h2>
        </header>
        <div class="pz-content">
            <ul class="list">
                <li><a href="">手风琴</a><i class="icon-angle-right"></i></li>
                <li><a href="">Badge</a><i class="icon-angle-right"></i></li>
                <li><a href="button.html">Button</a><i class="icon-angle-right"></i></li>
                <li><a href="">Card</a><i class="icon-angle-right"></i></li>
                <li><a href="form.html">表单</a><i class="icon-angle-right"></i></li>
                <li><a href="">栅格</a><i class="icon-angle-right"></i></li>
                <li><a href="">Icon</a><i class="icon-angle-right"></i></li>
                <li><a href="">List</a><i class="icon-angle-right"></i></li>
                <li><a href="">Loader</a><i class="icon-angle-right"></i></li>
                <li><a href="modal.html">模态窗口</a><i class="icon-angle-right"></i></li>
                <li><a href="">导航条</a><i class="icon-angle-right"></i></li>
                <li><a href="">通知</a><i class="icon-angle-right"></i></li>
                <li><a href="">侧边栏</a><i class="icon-angle-right"></i></li>
                <li><a href="">弹窗</a><i class="icon-angle-right"></i></li>
                <li><a href="slider.html">轮转</a><i class="icon-angle-right"></i></li>
                <li><a href="">工具栏</a><i class="icon-angle-right"></i></li>
                <li><a href="tabs.html">Tab切换</a><i class="icon-angle-right"></i></li>
                <li><a href="">排版</a><i class="icon-angle-right"></i></li>
                <li><a href="">返回顶部</a><i class="icon-angle-right"></i></li>
                <li><a href="">导航</a><i class="icon-angle-right"></i></li>
            </ul>
        </div>
        <footer>
            asdasd
        </footer>
    </div>
    <script type="text/javascript">
        lib.flexible.makeGridMode("750-12");
    </script>
</body>

</html>
