<!DOCTYPE html>
<html>

<head>
  <title>Pizza mobile</title>
  <link rel="import" href="/widget/touch-meta/meta.html?__inline">
  <link rel="stylesheet" href="/site/index/index.less">
</head>

<body>
  <link rel="import" href="/widget/touch-header/header.html?__inline">
  <div class="pz-main">
    <h2 class="h2">静态列表</h2>
    <div class="bgc">
      <ul class="pz-list">
        <li>
          <h3>List item1</h3><i class=" icon-angle-right"></i></li>
        <li>
          <h3>List item1</h3><i class=" icon-angle-right"></i></li>
        <li>
          <h3>List item1</h3><i class=" icon-angle-right"></i></li>
        <li>
          <h3>List item1</h3><i class=" icon-angle-right"></i></li>
        <li>
          <h3>List item1</h3><i class=" icon-angle-right"></i></li>
      </ul>
    </div>
    <h2 class="h2">图文列表</h2>
    <div class="bgc">
      <ul class="pz-medialist">
        <li>
          <a href="">
            <div class="img">
              <img src="http://lorempixel.com/160/160/people/" alt="">
            </div>
            <div class="des">
              <h3>女爵</h3>
              <p>发行公司：环球</p>
            </div>
            <i class=" icon-angle-right"></i></li>
        </a>
        </li>
        <li>
          <a href="">
            <div class="img">
              <img src="http://lorempixel.com/160/160/people/" alt="">
            </div>
            <div class="des">
              <h3>女爵</h3>
              <p>发行公司：环球</p>
            </div>
            <i class=" icon-angle-right"></i></li>
        </a>
        </li>
        <li>
          <a href="">
            <div class="img">
              <img src="http://lorempixel.com/160/160/people/" alt="">
            </div>
            <div class="des">
              <h3>女爵</h3>
              <p>发行公司：环球</p>
            </div>
            <i class=" icon-angle-right"></i></li>
        </a>
        </li>
        <li>
          <a href="">
            <div class="img">
              <img src="http://lorempixel.com/160/160/people/" alt="">
            </div>
            <div class="des">
              <h3>女爵</h3>
              <p>发行公司：环球</p>
            </div>
            <i class=" icon-angle-right"></i></li>
        </a>
        </li>
        <li>
          <a href="">
            <div class="img">
              <img src="http://lorempixel.com/160/160/people/" alt="">
            </div>
            <div class="des">
              <h3>女爵</h3>
              <p>发行公司：环球</p>
            </div>
            <i class=" icon-angle-right"></i></li>
        </a>
        </li>
        <li>
          <a href="">
            <div class="img">
              <img src="http://lorempixel.com/160/160/people/" alt="">
            </div>
            <div class="des">
              <h3>女爵</h3>
              <p>发行公司：环球</p>
            </div>
            <i class=" icon-angle-right"></i></li>
        </a>
        </li>
        <li>
          <a href="">
            <div class="img">
              <img src="http://lorempixel.com/160/160/people/" alt="">
            </div>
            <div class="des">
              <h3>女爵</h3>
              <p>发行公司：环球环球环球环球环球环球环球环球环球环球环球环球环球环球环球环球环球环球环球环球环球环球环球</p>
            </div>
            <i class=" icon-angle-right"></i></li>
        </a>
        </li>
      </ul>
    </div>
  </div>
  <link rel="import" href="/widget/touch-footer/footer.html?__inline">
  <script type="text/javascript">
    lib.flexible.makeGridMode("750-12");
  </script>
</body>

</html>
