<!DOCTYPE html>
<html>

<head>
  <title>Pizza mobile</title>
  <link rel="import" href="/widget/touch-meta/meta.html?__inline">
  <link rel="stylesheet" href="/site/index/index.less">
</head>

<body>
  <link rel="import" href="/widget/touch-header/header.html?__inline">
  <div class="pz-main">
    <h2 class="h2">提示框</h2>
    <button class="pz-btn-primary" id="msg">提示框</button>
    <button class="pz-btn-warning" id="msg1">信息框</button>
    <button class="pz-btn-danger" id="msg2">询问框</button>
    <button class="pz-btn-success" id="msg3">页面层</button>
    <button class="pz-btn-info" id="msg4">加载</button>
  </div>
  <link rel="import" href="/widget/touch-footer/footer.html?__inline">
  <script type="text/javascript">
    $("#msg").click(function() {
      layer.open({
        content: "欢迎光临",
        time: 20000
      })
    });
    $("#msg1").click(function() {
      layer.open({
        title: '信息',
        content: '移动版和PC版不能同时使用在同一页面。'
      });
    });
    $("#msg2").click(function() {
      //询问框
      layer.open({
        title: '提示',
        content: '您确定要刷新一下本页面吗？',
        btn: ['嗯', '不要'],
        yes: function(index) {
          location.reload();
          layer.close(index);
        }
      });
    });

    $("#msg3").click(function() {
      //页面层
      layer.open({
        type: 1,
        content: '可传入任何内容，支持html。一般用于手机页面中',
        anim: 0,
        style: 'position:fixed; bottom:0; left:0; width:100%; height:150px; padding:10px 0; border:none;'
      });
    });
    $("#msg4").click(function() {
      //加载层
      layer.open({
        type: 2
      });
    });
  </script>
</body>

</html>
