<!DOCTYPE html>
<html>

<head>
    <title>Pizza mobile</title>
    <link rel="import" href="/widget/touch-meta/meta.html?__inline">
    <link rel="stylesheet" href="/site/index/index.less">
</head>

<body>
    <link rel="import" href="/widget/touch-header/header.html?__inline">
    <div class="pz-main">
        <h2 class="h2">测试列表</h2>
        <div class="bgc">
            <div class="pz-tabs" id="tabs2">
                <div class="pz-tabs-menu">
                    <div class="active">TAB1选项</div>
                    <div>TAB2</div>
                    <div>TAB3</div>
                    <div>TAB4</div>
                    <div>TAB5</div>
                </div>
                <div class="pz-tabs-body">
                    <div>这不知是一天里的第几次了，我从昏昏沉沉的睡梦中醒来，张开眼睛，屋内已经一片漆黑，街道上没有人声也没有车声，只听见桌上的闹钟，像每一次醒来时一样，清晰而漠然的走动着。
                        <br>那么，我是醒了，昨天发生的事情，终究不只是一声噩梦。每一次的清醒，记忆就逼着我，像在奔流错乱的镜头面前一般，再一次又一次的去重新经历那场令我当时狂叫出来的惨剧。
                      </div>
                    <div>初次看见姑卡正是去年这个时候，她和她一家人住在我小屋附近的一幢大房子内，是警官罕地的大女儿。那时的姑卡梳着粗粗的辫子，穿着非洲大花的连身长裙，赤足不用面纱，也不将身体用布缠起来，常常在我的屋外呼叫着赶她的羊，声音清脆而活泼，俨然是一个快乐的小女孩。后来她来跟我念书，我问她几岁，她说：“这个你得去问罕地，我们沙哈拉威女人是不知道自己几岁的。
                    </div>
                    <div>我一面将茶递给她一面说。“什么？”她不解的反问我。“傻子，你要结婚了。”我直接了当的说出来。她显然吃了一惊，脸突然涨红了，小声地问：“什么时候？”我说：“拉麻丹过后再十天，你知道大概是谁吗？”她摇摇头，放下茶杯不语而去，这是我第一次看见她面有忧容。
                        <br>又过了一段日子，我在镇上买东西，碰到姑卡的哥哥和另外一个青年，他介绍时说：“阿布弟是警察，罕地的部下，我的好朋友，也是姑卡未来的丈夫。”我听见是姑卡的未婚夫，便刻意的。
                    </div>
                    <div>在沙哈拉威的风俗，聘礼是父母嫁女儿时很大的一笔收入。过去沙漠中没有钱币，女方所索取的聘礼是用羊群、骆驼、布匹、奴隶、面粉、糖、茶叶……等等来算的。现在文明些了，他们开出来的单子仍是这些东西，不过是用钞票来代替了。
                        <br> 　　姑卡的聘礼送来那一天，荷西被请去喝茶，我是女人，只有留在家中。不到一小时，荷西回来对我说：“那个阿布弟给了罕地二十万西币，想不到姑卡值那么多钱。”（二十万西币合台币十三万多。）“这简直是贩卖人口嘛！”我不以为然的说，心中又不知怎的有点羡慕姑卡，我结婚时一条羊也没有为父母赚进来过。
                    </div>
                    <div>　　拉麻丹的最后一日，罕地给他两个小儿子受割礼，我自然跑去看看是怎么回事。那时姑卡已经很少出来了，我去她房内看看，仍然只有一地的脏破席子，唯一的新东西就是姑卡的几件衣服。我问她：“你结婚后带什么走？没有锅也没有新炉子嘛！”她说：“我不走，罕地留我住下来。”我很意外的问她：“你先生呢？”她说：“也住进来。”我实在是羡慕她。“可以住多久才出去？”我问她。“习俗是可以住到六年满才走。”难怪罕地要那么多钱的聘礼，原来女婿婚后是住岳家的。</div>
                </div>
            </div>
        </div>
        <h2 class="h2">测试列表</h2>
        <div class="bgc">
            <div class="pz-tabs" id="tabs1">
                <div class="pz-tabs-menu">
                    <div>TAB1选项</div>
                    <div>TAB2</div>
                    <div>TAB3</div>
                    <div>TAB4</div>
                    <div>TAB5</div>
                </div>
                <div class="pz-tabs-body">
                    <div>
                      <form action="">
                        <div>
                          <label for="">用户名</label>
                          <div><input type="text" placeholder="请输入姓名" /></div>
                        </div>
                        <div>
                          <label for="">密码</label>
                          <div><input type="password" placeholder="请输入密码" /></div>
                        </div>
                        <div>
                          <label for="">年龄</label>
                          <div><input type="number" placeholder="请输入年龄" /></div>
                        </div>
                        <div>
                          <label for="">出生日期</label>
                          <div><input type="date" placeholder="2010/06/14"/></div>
                        </div>
                        <div>
                          <label for="">性别</label>
                          <div><select name="" id="">
                            <option value="">男</option>
                            <option value="">女</option>
                          </select></div>
                        </div>
                        <div>
                          <button class="pz-btn-primary">提交</button>
                          <button class="pz-btn-danger">取消</button>
                        </div>
                      </form>
                      </div>
                    <div>
                      <ul class="pz-list">
                        <li>
                          <h3>List item1</h3><i class=" icon-angle-right"></i></li>
                        <li>
                          <h3>List item1</h3><i class=" icon-angle-right"></i></li>
                        <li>
                          <h3>List item1</h3><i class=" icon-angle-right"></i></li>
                        <li>
                          <h3>List item1</h3><i class=" icon-angle-right"></i></li>
                        <li>
                          <h3>List item1</h3><i class=" icon-angle-right"></i></li>
                      </ul>
                    </div>
                    <div>
                      <ul class="pz-medialist">
                        <li>
                          <a href="">
                            <div class="img">
                              <img src="http://lorempixel.com/160/160/people/" alt="">
                            </div>
                            <div class="des">
                              <h3>女爵</h3>
                              <p>发行公司：环球</p>
                            </div>
                            <i class=" icon-angle-right"></i></li>
                        </a>
                        </li>
                        <li>
                          <a href="">
                            <div class="img">
                              <img src="http://lorempixel.com/160/160/people/" alt="">
                            </div>
                            <div class="des">
                              <h3>女爵</h3>
                              <p>发行公司：环球</p>
                            </div>
                            <i class=" icon-angle-right"></i></li>
                        </a>
                        </li>
                        <li>
                          <a href="">
                            <div class="img">
                              <img src="http://lorempixel.com/160/160/people/" alt="">
                            </div>
                            <div class="des">
                              <h3>女爵</h3>
                              <p>发行公司：环球</p>
                            </div>
                            <i class=" icon-angle-right"></i></li>
                        </a>
                        </li>
                        <li>
                          <a href="">
                            <div class="img">
                              <img src="http://lorempixel.com/160/160/people/" alt="">
                            </div>
                            <div class="des">
                              <h3>女爵</h3>
                              <p>发行公司：环球</p>
                            </div>
                            <i class=" icon-angle-right"></i></li>
                        </a>
                        </li>
                        <li>
                          <a href="">
                            <div class="img">
                              <img src="http://lorempixel.com/160/160/people/" alt="">
                            </div>
                            <div class="des">
                              <h3>女爵</h3>
                              <p>发行公司：环球</p>
                            </div>
                            <i class=" icon-angle-right"></i></li>
                        </a>
                        </li>
                        <li>
                          <a href="">
                            <div class="img">
                              <img src="http://lorempixel.com/160/160/people/" alt="">
                            </div>
                            <div class="des">
                              <h3>女爵</h3>
                              <p>发行公司：环球</p>
                            </div>
                            <i class=" icon-angle-right"></i></li>
                        </a>
                        </li>
                        <li>
                          <a href="">
                            <div class="img">
                              <img src="http://lorempixel.com/160/160/people/" alt="">
                            </div>
                            <div class="des">
                              <h3>女爵</h3>
                              <p>发行公司：环球环球环球环球环球环球环球环球环球环球环环球</p>
                            </div>
                            <i class=" icon-angle-right"></i></li>
                        </a>
                        </li>
                      </ul>
                    </div>
                    <div>在沙哈拉威的风俗，聘礼是父母嫁女儿时很大的一笔收入。过去沙漠中没有钱币，女方所索取的聘礼是用羊群、骆驼、布匹、奴隶、面粉、糖、茶叶……等等来算的。现在文明些了，他们开出来的单子仍是这些东西，不过是用钞票来代替了。
                        <br> 　　姑卡的聘礼送来那一天，荷西被请去喝茶，我是女人，只有留在家中。不到一小时，荷西回来对我说：“那个阿布弟给了罕地二十万西币，想不到姑卡值那么多钱。”（二十万西币合台币十三万多。）“这简直是贩卖人口嘛！”我不以为然的说，心中又不知怎的有点羡慕姑卡，我结婚时一条羊也没有为父母赚进来过。
                    </div>
                    <div>　　拉麻丹的最后一日，罕地给他两个小儿子受割礼，我自然跑去看看是怎么回事。那时姑卡已经很少出来了，我去她房内看看，仍然只有一地的脏破席子，唯一的新东西就是姑卡的几件衣服。我问她：“你结婚后带什么走？没有锅也没有新炉子嘛！”她说：“我不走，罕地留我住下来。”我很意外的问她：“你先生呢？”她说：“也住进来。”我实在是羡慕她。“可以住多久才出去？”我问她。“习俗是可以住到六年满才走。”难怪罕地要那么多钱的聘礼，原来女婿婚后是住岳家的。</div>
                </div>
            </div>
        </div>
        <link rel="import" href="/widget/touch-backtop/backtop.html?__inline">
    </div>
    <link rel="import" href="/widget/touch-footer/footer.html?__inline">
    <script type="text/javascript">
        var tabs = require("tabs");
        var tabs1 = new tabs("#tabs2");
        tabs1.init();
        var tabs2 = new tabs("#tabs1", 3);
        tabs2.init();
    </script>
</body>

</html>
