<!DOCTYPE html>
<html>

<head>
  <title>pizza-mobile</title>
  <link rel="import" href="/widget/touch-meta/meta.html?__inline">
  <link rel="stylesheet" href="/site/index/index.less">
</head>

<body>
  <link rel="import" href="/widget/touch-header/header.html?__inline">
  <div class="pz-main">
    <h2 class="h2"><label></label>参考</h2>
    <div class="bgc">
    <a href="http://amazeui.org/widgets/titlebar" target="_blacnk">title bar</a>
    </div>
  </div>
  <link rel="import" href="/widget/touch-footer/footer.html?__inline">
  <script type="text/javascript">
    lib.flexible.makeGridMode("750-12");
  </script>
</body>

</html>
