/*可用属性*/
/**flex 父元素定义 **/
.flex-vertical-center {
  display: -webkit-flex;
  display: flex;
  /*子元素沿主轴对齐方式居中*/
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /*子元素沿侧轴对齐方式垂直居中*/
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/**flex 子元素定义 **/
