input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  width: 100%;
  height: 0.93333333rem;
  -webkit-appearance: none;
  padding: 0 5px;
  background-color: #ffffff;
  border: 1px solid #c0c8c8;
  border-radius: 3px;
  outline: none;
  resize: none;
}
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
[data-dpr="1"] input[type="color"]::-webkit-input-placeholder,
[data-dpr="1"] input[type="date"]::-webkit-input-placeholder,
[data-dpr="1"] input[type="datetime"]::-webkit-input-placeholder,
[data-dpr="1"] input[type="datetime-local"]::-webkit-input-placeholder,
[data-dpr="1"] input[type="email"]::-webkit-input-placeholder,
[data-dpr="1"] input[type="month"]::-webkit-input-placeholder,
[data-dpr="1"] input[type="number"]::-webkit-input-placeholder,
[data-dpr="1"] input[type="password"]::-webkit-input-placeholder,
[data-dpr="1"] input[type="search"]::-webkit-input-placeholder,
[data-dpr="1"] input[type="tel"]::-webkit-input-placeholder,
[data-dpr="1"] input[type="text"]::-webkit-input-placeholder,
[data-dpr="1"] input[type="time"]::-webkit-input-placeholder,
[data-dpr="1"] input[type="url"]::-webkit-input-placeholder,
[data-dpr="1"] input[type="week"]::-webkit-input-placeholder,
[data-dpr="1"] select::-webkit-input-placeholder,
[data-dpr="1"] textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: #999999;
}
[data-dpr="2"] input[type="color"]::-webkit-input-placeholder,
[data-dpr="2"] input[type="date"]::-webkit-input-placeholder,
[data-dpr="2"] input[type="datetime"]::-webkit-input-placeholder,
[data-dpr="2"] input[type="datetime-local"]::-webkit-input-placeholder,
[data-dpr="2"] input[type="email"]::-webkit-input-placeholder,
[data-dpr="2"] input[type="month"]::-webkit-input-placeholder,
[data-dpr="2"] input[type="number"]::-webkit-input-placeholder,
[data-dpr="2"] input[type="password"]::-webkit-input-placeholder,
[data-dpr="2"] input[type="search"]::-webkit-input-placeholder,
[data-dpr="2"] input[type="tel"]::-webkit-input-placeholder,
[data-dpr="2"] input[type="text"]::-webkit-input-placeholder,
[data-dpr="2"] input[type="time"]::-webkit-input-placeholder,
[data-dpr="2"] input[type="url"]::-webkit-input-placeholder,
[data-dpr="2"] input[type="week"]::-webkit-input-placeholder,
[data-dpr="2"] select::-webkit-input-placeholder,
[data-dpr="2"] textarea::-webkit-input-placeholder {
  font-size: 30px;
  color: #999999;
}
[data-dpr="3"] input[type="color"]::-webkit-input-placeholder,
[data-dpr="3"] input[type="date"]::-webkit-input-placeholder,
[data-dpr="3"] input[type="datetime"]::-webkit-input-placeholder,
[data-dpr="3"] input[type="datetime-local"]::-webkit-input-placeholder,
[data-dpr="3"] input[type="email"]::-webkit-input-placeholder,
[data-dpr="3"] input[type="month"]::-webkit-input-placeholder,
[data-dpr="3"] input[type="number"]::-webkit-input-placeholder,
[data-dpr="3"] input[type="password"]::-webkit-input-placeholder,
[data-dpr="3"] input[type="search"]::-webkit-input-placeholder,
[data-dpr="3"] input[type="tel"]::-webkit-input-placeholder,
[data-dpr="3"] input[type="text"]::-webkit-input-placeholder,
[data-dpr="3"] input[type="time"]::-webkit-input-placeholder,
[data-dpr="3"] input[type="url"]::-webkit-input-placeholder,
[data-dpr="3"] input[type="week"]::-webkit-input-placeholder,
[data-dpr="3"] select::-webkit-input-placeholder,
[data-dpr="3"] textarea::-webkit-input-placeholder {
  font-size: 42px;
  color: #999999;
}
[data-dpr="1"] input[type="color"],
[data-dpr="1"] input[type="date"],
[data-dpr="1"] input[type="datetime"],
[data-dpr="1"] input[type="datetime-local"],
[data-dpr="1"] input[type="email"],
[data-dpr="1"] input[type="month"],
[data-dpr="1"] input[type="number"],
[data-dpr="1"] input[type="password"],
[data-dpr="1"] input[type="search"],
[data-dpr="1"] input[type="tel"],
[data-dpr="1"] input[type="text"],
[data-dpr="1"] input[type="time"],
[data-dpr="1"] input[type="url"],
[data-dpr="1"] input[type="week"],
[data-dpr="1"] select,
[data-dpr="1"] textarea {
  font-size: 16px;
}
[data-dpr="2"] input[type="color"],
[data-dpr="2"] input[type="date"],
[data-dpr="2"] input[type="datetime"],
[data-dpr="2"] input[type="datetime-local"],
[data-dpr="2"] input[type="email"],
[data-dpr="2"] input[type="month"],
[data-dpr="2"] input[type="number"],
[data-dpr="2"] input[type="password"],
[data-dpr="2"] input[type="search"],
[data-dpr="2"] input[type="tel"],
[data-dpr="2"] input[type="text"],
[data-dpr="2"] input[type="time"],
[data-dpr="2"] input[type="url"],
[data-dpr="2"] input[type="week"],
[data-dpr="2"] select,
[data-dpr="2"] textarea {
  font-size: 30px;
}
[data-dpr="3"] input[type="color"],
[data-dpr="3"] input[type="date"],
[data-dpr="3"] input[type="datetime"],
[data-dpr="3"] input[type="datetime-local"],
[data-dpr="3"] input[type="email"],
[data-dpr="3"] input[type="month"],
[data-dpr="3"] input[type="number"],
[data-dpr="3"] input[type="password"],
[data-dpr="3"] input[type="search"],
[data-dpr="3"] input[type="tel"],
[data-dpr="3"] input[type="text"],
[data-dpr="3"] input[type="time"],
[data-dpr="3"] input[type="url"],
[data-dpr="3"] input[type="week"],
[data-dpr="3"] select,
[data-dpr="3"] textarea {
  font-size: 50px;
}
textarea {
  height: auto;
  line-height: 24px;
  word-break: break-all;
  margin: 0;
}
textarea:focus {
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.06666667rem;
  vertical-align: middle;
  width: 0.66666667rem;
  height: 0.66666667rem;
  border-radius: 50%;
}
form > div,
.form > div {
  position: relative;
  margin-top: 0.26666667rem;
  padding: 1px 0 1px 2.66666667rem;
  border-bottom: 1px solid #c8c7cc;
}
[data-dpr="1"] form > div,
[data-dpr="1"] .form > div {
  font-size: 16px;
}
[data-dpr="2"] form > div,
[data-dpr="2"] .form > div {
  font-size: 32px;
}
[data-dpr="3"] form > div,
[data-dpr="3"] .form > div {
  font-size: 46px;
}
form > div > label,
.form > div > label {
  display: inline-block;
  width: 2.66666667rem;
  position: absolute;
  left: 0;
  text-align: left;
  padding-right: 20px;
  margin-bottom: 5px;
  line-height: 0.93333333rem;
}
form > div > label + input[type=date],
.form > div > label + input[type=date],
form > div > label + input[type=text],
.form > div > label + input[type=text],
form > div > label + input[type=password],
.form > div > label + input[type=password],
form > div > label + input[type=number],
.form > div > label + input[type=number],
form > div > label + select,
.form > div > label + select {
  border: none;
}
form > div > label + input[type=date]:focus,
.form > div > label + input[type=date]:focus,
form > div > label + input[type=text]:focus,
.form > div > label + input[type=text]:focus,
form > div > label + input[type=password]:focus,
.form > div > label + input[type=password]:focus,
form > div > label + input[type=number]:focus,
.form > div > label + input[type=number]:focus,
form > div > label + select:focus,
.form > div > label + select:focus {
  box-shadow: none;
}
form > div:first-child,
.form > div:first-child {
  margin-top: 0;
}
form > div:last-child,
.form > div:last-child {
  padding-left: 0;
  text-align: center;
}
form > .form-group,
.form > .form-group {
  border: none;
  padding-left: 0;
}
form > .form-group > label,
.form > .form-group > label {
  position: relative;
}
form > .form-group > label + input[type=date],
.form > .form-group > label + input[type=date],
form > .form-group > label + input[type=text],
.form > .form-group > label + input[type=text],
form > .form-group > label + input[type=password],
.form > .form-group > label + input[type=password],
form > .form-group > label + input[type=number],
.form > .form-group > label + input[type=number],
form > .form-group > label + select,
.form > .form-group > label + select {
  border: 1px solid #c0c8c8;
}
.validate-err {
  border-color: #d9534f !important;
}
