.layermbox {
  position: relative;
  z-index: 19891014;
}
.layermmain,
.laymshade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.layermbtn span,
.layermchild {
  display: inline-block;
  position: relative;
}
.laymshade {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}
.layermmain {
  display: table;
  font-family: Helvetica, arial, sans-serif;
  pointer-events: none;
}
.layermmain .section {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.layermchild {
  text-align: left;
  background-color: #fff;
  font-size: 14px;
  border-radius: 0.04rem;
  box-shadow: 0 0 0.21333333rem rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.18s;
  animation-duration: 0.18s;
}
[data-dpr="1"] .layermchild {
  font-size: 16px;
}
[data-dpr="2"] .layermchild {
  font-size: 32px;
}
[data-dpr="3"] .layermchild {
  font-size: 48px;
}
.layermborder {
  border: 1px solid #999;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.layermanim {
  animation-name: bounceIn;
  -webkit-animation-name: bounceIn;
}
.layermbox0 .layermchild {
  max-width: 90%;
  min-width: 2rem;
}
.layermbox1 .layermchild {
  border: none;
  border-radius: 0;
}
.layermbox2 .layermchild {
  width: auto;
  max-width: 3.46666667rem;
  min-width: 0.53333333rem;
  border: none;
  background: 0 0;
  box-shadow: none;
  color: #fff;
}
.layermchild h3 {
  padding: 0 1.2rem 0 0.26666667rem;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  font-weight: 400;
  border-radius: 0.08rem 0.08rem 0 0;
  border-bottom: 1px solid #EBEBEB;
}
[data-dpr="1"] .layermchild h3 {
  font-size: 16px;
}
[data-dpr="2"] .layermchild h3 {
  font-size: 32px;
}
[data-dpr="3"] .layermchild h3 {
  font-size: 48px;
}
.layermbtn span,
.layermchild h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.layermcont {
  padding: 1.06666667rem 0.8rem;
  text-align: center;
}
.layermbox1 .layermcont {
  padding: 0;
  text-align: left;
}
.layermbox2 .layermcont {
  text-align: center;
  padding: 0;
  line-height: 0;
}
.layermbox2 .layermcont i {
  width: 0.66666667rem;
  height: 0.66666667rem;
  margin-left: 0.21333333rem;
  display: inline-block;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bouncedelay {
  0%,
  100%,
  80% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  100%,
  80% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.layermbox2 .layermcont i:first-child {
  margin-left: 0;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.layermbox2 .layermcont i.laymloadtwo {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.layermbox2 .layermcont > div {
  line-height: 0.58666667rem;
  padding-top: 0.18666667rem;
  margin-bottom: 0.53333333rem;
}
[data-dpr="1"] .layermbox2 .layermcont > div {
  font-size: 16px;
}
[data-dpr="2"] .layermbox2 .layermcont > div {
  font-size: 32px;
}
[data-dpr="3"] .layermbox2 .layermcont > div {
  font-size: 48px;
}
.layermbtn {
  position: relative;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  font-size: 0;
  text-align: center;
  border-top: 1px solid #EBEBEB;
}
.layermbtn span {
  width: 50%;
  text-align: center;
  cursor: pointer;
  border-radius: 0 0.08rem 0 0;
}
[data-dpr="1"] .layermbtn span {
  font-size: 16px;
}
[data-dpr="2"] .layermbtn span {
  font-size: 32px;
}
[data-dpr="3"] .layermbtn span {
  font-size: 48px;
}
.layermbtn span:first-child {
  height: 1.06666667rem;
  background-color: #fff;
  border-radius: 0 0 0 0.08rem;
}
.layermbtn:before {
  content: '\20';
  position: absolute;
  width: 1px;
  height: 1.06666667rem;
  left: 50%;
  top: 0;
  background-color: #EBEBEB;
}
.layermend {
  position: absolute;
  right: 0.09333333rem;
  top: 0.13333333rem;
  width: 0.4rem;
  height: 0.4rem;
  border: 0;
  font-weight: 400;
  background: 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 30px;
}
.layermend::after,
.layermend::before {
  position: absolute;
  left: 0.06666667rem;
  top: 0.2rem;
  content: '';
  width: 0.24rem;
  height: 0.01333333rem;
  background-color: #999;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-radius: 0.04rem;
}
.layermend::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
