.pz-slider {
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
}
.pz-slider ul {
  width: 200%;
  height: 100%;
  position: relative;
}
.pz-slider ul li {
  width: 50%;
  position: relative;
  display: none;
}
.pz-slider ul li.active {
  display: block;
  float: left;
}
.pz-slider ul li.active-left {
  display: block;
  float: left;
}
.pz-slider ul li img {
  width: 100%;
}
