<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="/widget/meta/meta.html?__inline">
  <title>pizzaMobile 示例</title>
</head>

<body>

  <!-- Make sure all your bars are the first things in your <body> -->
  <header class="bar bar-nav">
     <button class="btn btn-link btn-nav pull-left goback"><span class="icon icon-left-nav"></span>返回</button>
     <button class="btn btn-link btn-nav pull-right">Right<span class="icon icon-right-nav"></span></button>
     <h1 class="title">标题栏</h1>
  </header>
  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
      <ul class="table-view">
          <li class="table-view-cell">
              item1
              <div class="toggle">
                  <div class="toggle-handle"></div>
              </div>
          </li>
          <li class="table-view-cell">
              Item 2
            <div class="toggle active">
              <div class="toggle-handle"></div>
            </div>
          </li>
          <li class="table-view-cell">
            Item 3
            <div class="toggle">
              <div class="toggle-handle"></div>
            </div>
          </li>
      </ul>
  </div>
  <link rel="import" href="/widget/footdata/footdata.html?__inline">
</body>

</html>
