<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="/widget/meta/meta.html?__inline">
  <title>pizzaMobile 示例</title>
</head>

<body>

  <!-- Make sure all your bars are the first things in your <body> -->
  <header class="bar bar-nav">
     <button class="btn btn-link btn-nav pull-left goback"><span class="icon icon-left-nav"></span>返回</button>
     <button class="btn btn-link btn-nav pull-right">Right<span class="icon icon-right-nav"></span></button>
     <h1 class="title">标题栏</h1>
  </header>
  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
    <div style="padding:30px;">
      <button class="btn"><span class="icon icon-search"></span>Button</button><br><br>
      <button class="btn btn-primary"><span class="icon icon-search"></span>Button</button><br><br>
      <button class="btn btn-positive"><span class="icon icon-search"></span>Button</button><br><br>
      <button class="btn btn-negative"><span class="icon icon-search"></span>Button</button><br><br>
      <button class="btn btn-link"><span class="icon icon-left"></span>Button</button>
    </div>
  </div>
  <link rel="import" href="/widget/footdata/footdata.html?__inline">
</body>

</html>
