<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/widget/meta/meta.html?__inline">
    <title>pizzaMobile 示例</title>
</head>

<body>

    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
        <button class="btn btn-link btn-nav pull-left goback">
            <span class="icon icon-left-nav"></span>返回</button>
        <button class="btn btn-link btn-nav pull-right">Right
            <span class="icon icon-right-nav"></span>
        </button>
        <h1 class="title">标题栏</h1>
    </header>
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
        <div class="segmented-control">
            <a class="control-item active" href="#item1mobile">
    Thing one
  </a>
            <a class="control-item" href="#item2mobile">
    Thing two
  </a>
            <a class="control-item" href="#item3mobile">
    Thing three
  </a>
        </div>
        <div class="card">
            <span id="item1mobile" class="control-content active">Item 1</span>
            <span id="item2mobile" class="control-content">Item 2</span>
            <span id="item3mobile" class="control-content">Item 3</span>
        </div>
    </div>
    <link rel="import" href="/widget/footdata/footdata.html?__inline">
</body>

</html>
