<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="/widget/meta/meta.html?__inline">
  <title>pizzaMobile 示例</title>
</head>

<body>

  <!-- Make sure all your bars are the first things in your <body> -->
  <header class="bar bar-nav">
     <button class="btn btn-link btn-nav pull-left goback"><span class="icon icon-left-nav"></span>返回</button>
     <button class="btn btn-link btn-nav pull-right">Right<span class="icon icon-right-nav"></span></button>
     <h1 class="title">标题栏</h1>
  </header>
  <nav class="bar bar-tab">
    <a href="" class="tab-item active">
      <span class="icon icon-home"></span>
      <span class="tab-label">Home</span>
    </a>
    <a href="" class="tab-item">
      <span class="icon icon-star-filled"></span>
      <span class="tab-label">Fovorites</span>
    </a>
    <a href="" class="tab-item">
      <span class="icon icon-search"></span>
      <span class="tab-label">Search</span>
    </a>
    <a href="" class="tab-item">
      <span class="icon icon-gear"></span>
      <span class="tab-label">Setting</span>
    </a>
  </nav>
  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
    <br>
<p>标题栏中的链接按钮用于移除按钮边框。这种方式可以和图标搭配可以用来模仿原生iOS7的体验。注意使用.btn-nav使按钮更靠近视区的边缘。</p>
  </div>
  <link rel="import" href="/widget/footdata/footdata.html?__inline">
</body>

</html>
