<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="/widget/meta/meta.html?__inline">
  <title>pizzaMobile 示例</title>
</head>

<body>
  <nav class="bar bar-standard">
    <div class="segmented-control">
      <a href="" class="control-item active">Thing one</a>
      <a href="" class="control-item">Thing two</a>
      <a href="" class="control-item">Thing three</a>
    </div>
  </nav>
  <div class="bar bar-standard bar-header-secondary">
        <input type="search" placeholder="Search">
  </div>
  <div class="bar bar-standard bar-footer-secondary">
        <button class="btn btn-block">Block Level button</button>
  </div>
  <div class="bar bar-standard bar-footer">
    <a class="icon icon-compose pull-left"></a>
    <a class="icon icon-gear pull-right"></a>
  </div>
  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
    <br>
    <p>标准栏是基本的填充元素，可以固定在四个位置。标准栏内部可用来放按钮、图标、分段控件(看下面的例子)。</p>
  </div>
  <link rel="import" href="/widget/footdata/footdata.html?__inline">
</body>

</html>
