<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="/widget/meta/meta.html?__inline">
  <title>pizzaMobile 示例</title>
</head>

<body>

  <!-- Make sure all your bars are the first things in your <body> -->
  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
    <ul class="table-view">
      <li class="table-view-cell"><a href="btl.html" class="navigate-right transition">标题栏</a></li>
      <li class="table-view-cell"><a href="2.html" class="navigate-right">带按钮的标题栏</a></li>
      <li class="table-view-cell"><a href="3.html" class="navigate-right">带有图标的标题栏</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">带有链接按钮(link buttons)和图标的标题栏</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">带有分段控件(segmented control)的标题栏</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">底部标签栏</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">底部标签栏(使用文字标签)</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">标准栏</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">文字排版</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">表格视图</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">带V形箭头(chevrons)的表格视图</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">带标记(badges)的表格试图</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">带V形箭头和标记的表格视图</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">带媒体元素(图片)的表格视图</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">带媒体元素(图标)的表格试图</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">带按钮的表格视图</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">带开关按钮的表格视图</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">卡片式的表格试图</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">按钮</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">带小图标的按钮</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">带标记的按钮</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">大按钮(block buttons)</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">分段控件</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">标记</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">表单</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">带输入组的表单</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">带输入组和标签的表单</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">开关按钮</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">泡芙效果</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">模态窗口</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">滑动控件(sliders)</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">切换(Push)</a></li>
      <li class="table-view-cell"><a href="4.html" class="navigate-right">图标</a></li>
    </ul>
  </div>
  <link rel="import" href="/widget/footdata/footdata.html?__inline">
</body>

</html>
