@import "var.less";
@import "flex.less";
.input-focus(@color:@input-shadow-color) {
    // box-shadow: 0 0 8px @color;
}
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    width: 100%;
    height: @input-height;
    -webkit-appearance: none;
    padding: 0 5px;
    background-color: @input-bg;
    border: @border;
    border-radius: 3px;
    outline: none;
    resize: none;
    &:focus {
        .input-focus();
    }
    [data-dpr="1"] &::-webkit-input-placeholder {
        font-size: 16px;
        color: @input-placeholder-color;
    }
    [data-dpr="2"] &::-webkit-input-placeholder {
        font-size: 30px;
        color: @input-placeholder-color;
    }
    [data-dpr="3"] &::-webkit-input-placeholder {
        font-size: 42px;
        color: @input-placeholder-color;
    }
    [data-dpr="1"] & {
        font-size: 16px;
    }
    [data-dpr="2"] & {
        font-size: 30px;
    }
    [data-dpr="3"] & {
        font-size: 50px;
    }
}
textarea {
    height: auto;
    line-height: 24px;
    word-break: break-all;
    margin: 0;
    &:focus {
        .input-focus();
    }
}
input[type="checkbox"],
input[type="radio"] {
    margin-right: 5rem/@font-size-base;
    vertical-align: middle;
    width: 50rem/@font-size-base;
    height: 50rem/@font-size-base;
    border-radius: 50%;
}
//单行显示
.form,
form {
    & > div {
        width: 100%;
        .flex-vertical();
        padding: 10rem/@font-size-base 30rem/@font-size-base;
        border-bottom: 1px solid #ddd;
        [data-dpr="1"] & {
            font-size: 16px;
        }
        [data-dpr="2"] & {
            font-size: 32px;
        }
        [data-dpr="3"] & {
            font-size: 46px;
        }
        div {
            width: 0;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            height: 100%;
        }
        input[type=date],
        input[type=number],
        input[type=password],
        input[type=text],
        select {
            border: none;
            width: 100%;
            text-align: left;
            &:focus {
                box-shadow: 0;
            }
        }
        label {
            width: 150rem/@font-size-base;
            height: 100%;
            display: inline-block;
            &.icon{
              width: 48rem/@font-size-base;
              [data-dpr="1"] & {
                font-size: 18px;
              }
              [data-dpr="2"] & {
                font-size: 40px;
              }
              [data-dpr="3"] & {
                font-size: 54px;
              }
            }
        }
        i{
          height: 100%;
          padding: 10px;
          background: #000;
          background: #eee;
        }
    }
    & > div:last-child {
        padding-left: 0;
        .flex-vertical-center();
        button {
            margin-bottom: 0;
        }
    }
}

//表单验证提示
.validate-err {
    border-color: @bgcolor-danger!important;
}
