<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Include the compiled Ratchet CSS -->
    <!-- Include the compiled Ratchet JS -->

  <title>segmented control</title>

    <link rel="stylesheet" href="/css/pizzaMobile.css" />
</head>

<body>

  <!-- Make sure all your bars are the first things in your <body> -->
  <header class="bar bar-nav">
     <button class="btn btn-nav pull-left goback">Left</button>
     <button class="btn btn-nav pull-right">Right</button>
     <div class="segmented-control">
       <a href="" class="control-item active">one</a>
       <a href="" class="control-item">two</a>
       <a href="" class="control-item">three</a>
       <a href="" class="control-item">four</a>
     </div>
  </header>
  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
    <br>
    <p>标题栏也可以提供分段控件，可以任意添加按钮到分段控件中去，控件会自适应布局。.btn-nav使按钮更靠近视区的边缘。</p>
  </div>


<script src="/pkg/base.js"></script>
<script>/*resourcemap*/
</script>
<script src="/lib/zepto.min.js"></script>
<script src="/lib/pm.js"></script>
<script>
  pm.init();
</script>
<script type="text/javascript" charset="utf-8" src="http://192.168.1.102:8132/livereload.js"></script></body>

</html>
