<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Include the compiled Ratchet CSS -->
    <!-- Include the compiled Ratchet JS -->

  <title>pizzaMobile 示例</title>

    <link rel="stylesheet" href="/lib/layer/need/layer.css" />
    <link rel="stylesheet" href="/css/pizzaMobile.css" />
</head>

<body>
  <nav class="bar bar-standard">
    <div class="segmented-control">
      <a href="" class="control-item active">Thing one</a>
      <a href="" class="control-item">Thing two</a>
      <a href="" class="control-item">Thing three</a>
    </div>
  </nav>
  <div class="bar bar-standard bar-header-secondary">
        <input type="search" placeholder="Search">
  </div>
  <div class="bar bar-standard bar-footer-secondary">
        <button class="btn btn-block">Block Level button</button>
  </div>
  <div class="bar bar-standard bar-footer">
    <a class="icon icon-compose pull-left"></a>
    <a class="icon icon-gear pull-right"></a>
  </div>
  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
    <br>
    <p>标准栏是基本的填充元素，可以固定在四个位置。标准栏内部可用来放按钮、图标、分段控件(看下面的例子)。</p>
  </div>


<script src="/pkg/base.js"></script>
<script>/*resourcemap*/
</script>
<script src="/lib/layer/layer.js"></script>
<script src="/lib/pm.js"></script>
<script src="/lib/pm.toggle.js"></script>
<script>
  pm.init();
</script>
<script type="text/javascript" charset="utf-8" src="http://192.168.1.43:8132/livereload.js"></script></body>

</html>
