<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Include the compiled Ratchet CSS -->
    <!-- Include the compiled Ratchet JS -->

  <title>pizzaMobile 示例</title>

    <link rel="stylesheet" href="/lib/layer/need/layer.css" />
    <link rel="stylesheet" href="/css/pizzaMobile.css" />
</head>

<body>
  <div class="content">
    <ul class="table-view">
      <li class="table-view-cell"><a href="btl.html" class="trans">标题栏</a></li>
      <li class="table-view-cell"><a class="trans" href="2.html">带按钮的标题栏</a></li>
      <li class="table-view-cell"><a class="trans" href="3.html">带有图标的标题栏</a></li>
      <li class="table-view-cell"><a class="trans" href="4.html">带有链接按钮(link buttons)和图标的标题栏</a></li>
      <li class="table-view-cell"><a class="trans" href="5.html">带有分段控件(segmented control)的标题栏</a></li>
      <li class="table-view-cell"><a class="trans" href="6.html">底部标签栏</a></li>
      <li class="table-view-cell"><a class="trans" href="7.html">底部标签栏(使用文字标签)</a></li>
      <li class="table-view-cell"><a class="trans" href="8.html">标准栏</a></li>
      <li class="table-view-cell"><a class="trans" href="9.html">文字排版</a></li>
      <li class="table-view-cell"><a class="trans" href="10.html">表格视图</a></li>
      <li class="table-view-cell"><a class="trans" href="11.html">带V形箭头(chevrons)的表格视图</a></li>
      <li class="table-view-cell"><a class="trans" href="12.html">带标记(badges)的表格试图</a></li>
      <li class="table-view-cell"><a class="trans" href="13.html">带V形箭头和标记的表格视图</a></li>
      <li class="table-view-cell"><a class="trans" href="14.html">带媒体元素(图片)的表格视图</a></li>
      <li class="table-view-cell"><a class="trans" href="15.html">带媒体元素(图标)的表格试图</a></li>
      <li class="table-view-cell"><a class="trans" href="16.html">带按钮的表格视图</a></li>
      <li class="table-view-cell"><a class="trans" href="17.html">带开关按钮的表格视图</a></li>
      <li class="table-view-cell"><a class="trans" href="18.html">卡片式的表格试图</a></li>
      <li class="table-view-cell"><a class="trans" href="19.html">按钮</a></li>
      <li class="table-view-cell"><a class="trans" href="20.html">带小图标的按钮</a></li>
      <li class="table-view-cell"><a class="trans" href="21.html">带标记的按钮</a></li>
      <li class="table-view-cell"><a class="trans" href="22.html">大按钮(block buttons)</a></li>
      <li class="table-view-cell"><a class="trans" href="23.html">分段控件</a></li>
      <li class="table-view-cell"><a class="trans" href="24.html">标记</a></li>
      <li class="table-view-cell"><a class="trans" href="25.html">表单</a></li>
      <li class="table-view-cell"><a class="trans" href="26.html">带输入组的表单</a></li>
      <li class="table-view-cell"><a class="trans" href="27.html">带输入组和标签的表单</a></li>
      <li class="table-view-cell"><a class="trans" href="28.html">开关按钮</a></li>
      <li class="table-view-cell"><a class="trans" href="29.html">泡芙效果</a></li>
      <li class="table-view-cell"><a class="trans" href="30.html">模态窗口</a></li>
      <li class="table-view-cell"><a class="trans" href="31.html">滑动控件(sliders)</a></li>
      <li class="table-view-cell"><a class="trans" href="32.html">切换(Push)</a></li>
      <li class="table-view-cell"><a class="trans" href="33.html">图标</a></li>
    </ul>
  </div>


<script src="/pkg/base.js"></script>
<script>/*resourcemap*/
</script>
<script src="/lib/layer/layer.js"></script>
<script src="/lib/pm.js"></script>
<script src="/lib/pm.toggle.js"></script>
<script>
  pm.init();
</script>
<script type="text/javascript" charset="utf-8" src="http://192.168.1.43:8132/livereload.js"></script></body>

</html>
