<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Include the compiled Ratchet CSS -->
    <!-- Include the compiled Ratchet JS -->

    <title>pizzaMobile 示例</title>

    <link rel="stylesheet" href="/lib/layer/need/layer.css" />
    <link rel="stylesheet" href="/css/pizzaMobile.css" />
</head>

<body>

    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
        <button class="btn btn-link btn-nav pull-left goback">
            <span class="icon icon-left-nav"></span>返回</button>
        <button class="btn btn-link btn-nav pull-right">Right
            <span class="icon icon-right-nav"></span>
        </button>
        <h1 class="title">标题栏</h1>
    </header>
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content" style="padding-left:20px;">
        <br><br>
        <button class="btn">Badge button
            <span class="badge">1</span>
        </button><br><br>
        <button class="btn btn-primary">Badge button
            <span class="badge badge-primary">1</span>
        </button><br><br>
        <button class="btn btn-positive">Badge button
            <span class="badge badge-positive">1</span>
        </button><br><br>
        <button class="btn btn-negative">Badge button
            <span class="badge badge-negative">1</span>
        </button><br><br>

        <button class="btn btn-outlined">Badge button
            <span class="badge badge-inverted">1</span>
        </button><br><br>
        <button class="btn btn-outlined btn-primary">Badge button
            <span class="badge badge-primary badge-inverted">1</span>
        </button><br><br>
        <button class="btn btn-outlined btn-positive">Badge button
            <span class="badge badge-positive badge-inverted">1</span>
        </button><br><br>
        <button class="btn btn-outlined btn-negative">Badge button
            <span class="badge badge-negative badge-inverted">1</span>
        </button>
    </div>


<script src="/pkg/base.js"></script>
<script>/*resourcemap*/
</script>
<script src="/lib/layer/layer.js"></script>
<script src="/lib/pm.js"></script>
<script src="/lib/pm.toggle.js"></script>
<script>
  pm.init();
</script>
<script type="text/javascript" charset="utf-8" src="http://192.168.1.43:8132/livereload.js"></script></body>

</html>
